
:root{
    --text-primary:#000;
    --bg-primary:#fff;
    --bg-secondary: #F9F9F9;
    --pink: #0071bd;
    --light-blue: #e6f7ff;
    --border: #d9d9d9;
    --elevation-base-color: 60, 75, 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    color: var(--pink) !important;
}

.app{
    display: flex;
    overflow: hidden;
}

.navbar{
    flex: 0.2;
    background-color: rgb(0, 21, 41);
    /* background: linear-gradient(to top, #5768f3, #1c45ef); */
    
}

.main{
    flex: 0.8;
    width: 100%;
    
}
.routes{
    padding: 20px;
}
.nav-container{
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: rgb(0, 21, 41);
    /* background: linear-gradient(to top, #5768f3, #1c45ef); */
    
    width: 265px;
}

.logo-container{
    background-color: #001529;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}
.logo{
    margin:0 0 0 15px;
}
.logo a{
   color: white;
}
.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bg-secondary) !important;
    border: none !important;
}

.loader{
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1300px){
    .main{
        margin-left: 50px;
    }
}

@media screen and (max-width:1170px){
    .main{
        margin-left: 50px;
    }
}

@media screen and (max-width:1000px){
    .main{
        margin-left: 100px;
    }
}

@media screen and (max-width:800px){
    .app{
        flex-direction: column;
        overflow: hidden;
    }

    .navbar{
        flex: 1;
    }

    .main{
        flex: 1;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .nav-container{
        height: 8vh;
        position:fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bg-secondary);
    }
  
    .menu-control-container{
        display: block !important;
    }

    .ant-menu{
        position: absolute;
        right: 0px;
    }
    .home-title{
        font-size: 1.4rem !important;
    }
    .show-more{
        font-size: 1.3rem !important;
    }
}

.coin-detail-container{
    margin: 30px;
}

.coin-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.coin-heading-container .coin-name{
    font-weight: 900;
    color: var(--pink);
}

.coin-heading-container p{
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

.stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.stats-container h2{
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 20px;
    color: var(--pink);
}

.coin-details-heading{
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: var(--pink) !important;
}

.coin-stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;

}

.coin-stats-name{
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

.stats{
    font-weight: 800;
}

.coin-value-statistics-heading p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;
}

.coin-desc-link h2{
    font-weight: 700;
    color: var(--pink);
}

.coin-desc-link p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link a{
    color: var(--pink);
}

.coin-desc-link h3{
    font-weight: 700;
}

.coin-desc{
    flex: 0.5;
}

.coin-links{
  padding: 0px 20px;
    flex: 0.5;
}

.coin-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

.link-name{
    text-transform: capitalize;
    font-size: 1rem;
}

.coin-link a{
    color: var(--pink);
    font-weight: 700;
    font-size: 1rem;
}

.coin-link:hover, .coin-stats:hover{
    background-color: var(--bg-secondary);
}

@media screen and (max-width:1000px){
    .stats-container{
        flex-direction: column;
    }
    .coin-desc-link{
        flex-direction: column;
    }
    .stats-container h2{
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px){
    .coin-links{
        padding: 0px;
    }
    .coin-detail-container{
        margin: 0;
    }
}
@media screen and (max-width: 500px){
    .heading{
        margin-top: 20px;
    }
}

.select-news{
    width: 180px;
}
.news-card{
    min-height: 300px !important;
}
.news-image-container{
    display: flex !important;
    justify-content: space-between !important;
}
.news-title{
width: 70%;
}

.news-image-container .img{
    width:100px;
    height:100px;
}
.news-card p{
    color: black;
    margin: 10px 0px !important;
}
.provider-container{
    display: flex;
    justify-content: space-between;
}
.provider-name{
    margin-left: 10px;
}

.chart-header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #0071bd;
}
.chart-title{
    color: #0071bd !important;
}
.price-container{
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}
.price-change{
    font-weight: 900 !important;
}
.current-price{
    margin-top: 0px !important;
    font-weight: 900 !important;
}
.home-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.show-more{
    margin-top: 0px !important;
}
.exchange-image{
    margin: 0px 10px !important;
}
.search-crypto{
    margin: 20px auto 30px auto;
    width: 250px;
}
.crypto-card-container{
    min-height: 65vh !important;
}
.crypto-card{
    min-width: 250px;
}
.crypto-card .crypto-image{
    width:35px;
}
.select-timeperiod{
    width: 200px !important;
    margin-top: 20px !important;
}

.footer {
    background-color: #001529;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.ant-card-body {
    /* background: linear-gradient(to top, #5768f3, #1c45ef);
    color: #fff; */
}

.code-box .code-box-title,.code-box .code-box-title a{
    color:#000000d9;
    background:#fff
}
.code-box,.code-box .code-box-demo{
    background-color:#fff
}
.code-box .markdown pre{
    margin:.5em 0;
    padding:6px 12px
}
.code-box .markdown pre code{
    margin:0;
    background:#f5f5f5
}
.code-box:target{
    border:1px solid var(--ant-primary-color)
}
.code-box-expand-trigger{
    position:relative;
    margin-left:12px;
    color:#3b4357;
    font-size:20px;
    cursor:pointer;
    opacity:.75;
    transition:all .3s
}
.code-box-expand-trigger:hover{
    opacity:1
}
.ant-row-rtl .code-box-expand-trigger{
    margin-right:8px;
    margin-left:0
}
.code-box-title{
    position:absolute;
    top:-14px;
    margin-left:16px;
    padding:1px 8px;
    color:#777;
    background:#fff;
    border-radius:2px 2px 0 0;
    transition:background-color .4s
}
.ant-row-rtl .code-box-title{
    margin-right:16px;
    margin-left:0;
    border-radius:2px 0 0 2px
}
.code-box-title a,.code-box-title a:hover{
    color:#000000d9;
    font-weight:500;
    font-size:14px
}
.code-box-description{
    padding:18px 24px 12px
}
.code-box a.edit-button{
    position:absolute;
    top:7px;
    right:-16px;
    padding-right:6px;
    font-size:12px;
    text-decoration:none;
    background:inherit;
    transform:scale(.9)
}
.code-box a.edit-button .anticon{
    color:#00000073;
    transition:all .3s
}
.code-box a.edit-button .anticon:hover{
    color:#000000d9
}
.ant-row.ant-row-rtl .code-box a.edit-button{
    right:auto;
    left:-22px;
    margin-right:0;
    padding-right:8px;
    padding-left:6px
}
.code-box-demo{
    padding:42px 24px 50px;
    color:#000000d9;
    border-bottom:1px solid #f0f0f0;
    background-color: #fff;
    box-shadow: 0 1 px 1 px 0 rgba(var(--elevation-base-color),.14),0 2 px 1 px -1 px rgba(var(--elevation-base-color),.12),0 1 px 3 px 0 rgba(var(--elevation-base-color),.20);
}
.code-box iframe{
    width:100%;
    border:0
}
.code-box-meta.markdown{
    position:relative;
    width:100%;
    font-size:14px;
    border-radius:0 0 2px 2px;
    transition:background-color .4s
}
.code-box-meta blockquote{
    line-height:1.5
}
.code-box-meta h4,section.code-box-meta p{
    margin:0
}
.code-box-meta>p{
    width:100%;
    margin:.5em 0;
    padding-right:25px;
    font-size:12px;
    word-break:break-word
}
.ant-row-rtl .code-box-meta>p{
    padding-right:0;
    padding-left:25px
}
.code-box.expand .code-box-meta{
    border-bottom:1px dashed #f0f0f0;
    border-radius:0
}
.code-box .code-expand-icon{
    cursor:pointer
}
.code-box .code-expand-icon-show,.code-box .code-expand-icon-hide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    max-width:100%;
    margin:0;
    box-shadow:none;
    transition:all .4s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.ant-row-rtl .code-box .code-expand-icon-show,.ant-row-rtl .code-box .code-expand-icon-hide{
    right:0;
    left:auto
}
.code-box .code-expand-icon-show{
    opacity:.55;
    pointer-events:auto
}
.code-box .code-expand-icon-show:hover,.code-box .code-expand-icon.ant-tooltip-open .code-expand-icon-show{
    opacity:1
}
.code-box .code-expand-icon-hide{
    opacity:0;
    pointer-events:none
}
.code-box .highlight-wrapper{
    display:none;
    overflow:auto;
    border-radius:0 0 2px 2px
}
.code-box .highlight-wrapper-expand{
    display:block
}
.code-box .highlight{
    position:relative
}
.code-box .highlight .ant-tabs-nav-list{
    margin:0 auto
}
.code-box .highlight pre{
    margin:0;
    padding:0;
    background:#fff
}
.code-box .highlight:not(:first-child){
    border-top:1px dashed #f0f0f0
}
.code-box-actions{
    display:flex;
    justify-content:center;
    padding:12px 0;
    border-top:1px dashed #f0f0f0;
    opacity:.7;
    transition:opacity .3s
}
.code-box-actions:hover{
    opacity:1
}
.code-box-actions>.code-box-code-action{
    position:relative;
    display:flex;
    align-items:center;
    width:16px;
    height:16px;
    margin-left:16px;
    color:#00000073;
    cursor:pointer;
    transition:all .24s
}
.ant-row-rtl .code-box-actions>.code-box-code-action{
    margin-right:16px;
    margin-left:0
}
.code-box-actions>.code-box-code-action:first-child{
    margin-left:0
}
.ant-row-rtl .code-box-actions>.code-box-code-action:first-child{
    margin-right:0
}
.code-box-actions>.code-box-code-action:hover{
    color:#000000d9
}
.code-box-code-copy{
    width:14px;
    height:14px;
    font-size:14px;
    text-align:center;
    background:#fff;
    cursor:pointer;
    transition:transform .24s
}
.code-box-code-copy:hover{
    transform:scale(1.2)
}
.code-box-code-copy.anticon-check{
    color:#52c41a!important;
    font-weight:700
}
.code-box-codepen,.code-box-riddle{
    width:14px;
    height:14px;
    overflow:hidden;
    border:0;
    cursor:pointer
}
.code-box-codesandbox{
    width:16px;
    height:16px;
    overflow:hidden;
    border:0;
    cursor:pointer
}
.code-box-codesandbox:hover,.highlight-wrapper:hover .code-box-code-copy,.highlight-wrapper:hover .code-box-codepen,.highlight-wrapper:hover .code-box-codesandbox,.highlight-wrapper:hover .code-box-riddle{
    opacity:1
}
.code-box pre{
    width:auto;
    margin:0
}
.code-box pre code{
    background:#fff;
    border:none
}
.code-box-debug{
    border-color:#d3adf7
}
.code-box-debug .code-box-title a{
    color:#722ed1
}

.ant-card {
    background: linear-gradient( 
        45deg,#321fdb 0%,#1f1498 100%)!important;
            color: #fff;
    border-radius: 0.25rem !important;
    color: #fff !important;
}

.ant-card-head {
    color: #fff !important;
}